.uploadFormImage {
    
    height: 100vh; /* Optional: Full height of the viewport */
    width: 100% /* Optional: Full width */
  }

  .formUpload{
    background-image: url("./images/white_green_rose.jpg");
    background-size: cover; /* Ensures the image covers the container */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center center; /* Centers the image */
  }

