.backgroundImage {
    background-image: url("./images/white_green_rose.jpg");
    background-size: cover; /* Ensures the image covers the container */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
    min-height: 100vh;
    height: 100%;/* Optional: Full height of the viewport */
    width: 100%; /* Optional: Full width */
  }

  .account_manager_top_container{
    /* border: 2px solid red; */
    padding-top: 2% ;
    display: block;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
  }